SUPABASE_URL=https://mygyxymfwvhuwmjzjgjp.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15Z3l4eW1md3ZodXdtanpqZ2pwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODIzMzEzMiwiZXhwIjoyMDkzODA5MTMyfQ.Ghkd3ChrZmFDMbp-naYexfNljdolkasTAVjCYDTQhDI

API_URL=http://localhost:5000/vote

NODE_ID=edge-node-1

PORT=5000
